# Supabase
DATABASE_URL=postgresql+asyncpg://postgres.kvykrfnzxwqgemfftvup:rdqVeDocnimtFWxG@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
DATABASE_URL_DIRECT=postgresql://postgres:rdqVeDocnimtFWxG@db.kvykrfnzxwqgemfftvup.supabase.co:5432/postgres
SUPABASE_URL=https://kvykrfnzxwqgemfftvup.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2eWtyZm56eHdxZ2VtZmZ0dnVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5ODQzMzksImV4cCI6MjA5NTU2MDMzOX0.OcQFkfRZTYOOMIiwa6dE9Aebth5qzSocYwZc1BrNsJ0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2eWtyZm56eHdxZ2VtZmZ0dnVwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTk4NDMzOSwiZXhwIjoyMDk1NTYwMzM5fQ.iiURulNZwpF4lBJ8tEdmfkqbfBJRVozM7YF21eCkRO4
JWT_SECRET=DqSySQyCq4w1Tg56ADaZa0Oh/EO+vsz10w+PC8clOkWoJin/ujESIQ4CLOs+mjVHo7zRXnj4W1NwsJ759LSpmQ==
# database_password=wPQHZD1vgBj3Ucuw

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=005baa82be9a08a0000000001
R2_SECRET_ACCESS_KEY=K005+aouqWlBE6iqK8RG8hsQEEsH7M8
R2_BUCKET_NAME=capsule-sessions-prod
R2_ENDPOINT_URL=https://s3.us-east-005.backblazeb2.com

# Modal
MODAL_TOKEN_ID=ak-Noau867SqzdM0C6u4c7y0V
MODAL_TOKEN_SECRET=as-z0F0El5ywBncAIyAPJJiyb

# App
ENVIRONMENT=development
API_BASE_URL=http://localhost:8000